html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    /* display: flex;
    justify-content: center; */
    width: 1000px;
    height: 900px;
    margin: 0px;
    background-repeat: no-repeat;
}

#battlefield {
    background-image: url("apocalypse-2273069_1280.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#battlefield-interface {
    background-color: white;
    /* align-self: center; */
    width: 1000px;
    height: 500px;
}

.tank {
    display: inline-block;
    background-color:rgb(34, 134, 173);
    position: absolute;

    width: 20px;
    height: 10px;
}

.cannon {
    position: relative;
    width: 20px;
    height: 4px;
    top: -10px;
    background-color: rgb(34, 134, 173);
    transform: rotate(-45deg);
}

.nametag{
    width: 20px;
    height: 10px;   
    position: relative;
    top: -25px;
    text-align: center;
    color: rgb(34, 134, 173);
}

.bullet {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 5px;
}

.mountain{
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    background-color: rgb(77, 11, 3);
}

#top-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    top:500px;
    width: 1000px;
}

.shot-parameters {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.shot-parameters h3 {
    margin-left: 10px;
}

.tank-name {
    margin: auto;
}
