body {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 100%;
    height: 800px;
}

#battlefield {
    width: 1000px;
    height: 500px;
    background-color: white;
    align-self: center;
    margin-top: 100px;
}

#temp {
    background-color: black;
    width: 80px;
    height: 40px;
    position: relative;
    left: 100px;
    top: calc(100% - 40px);
}

.bullet {
    position: relative;
    background-color: blueviolet;
    display: none;
    width: 10px;
    height: 10px;
    left: 100%;
    transform: rotate(45deg);
}