body {
    display: flex;
    justify-content: center;
    background-image: url("apocalypse-2273069_1280.jpg");
    width: 1000px;
    height: 500px;
    margin: 0px;
    background-repeat: no-repeat;
}

#battlefield {
    background-color: white;
    align-self: center;
    width: 1000px;
    height: 500px;
}

.tank {
    display: inline-block;
    background-color:black;
    position: absolute;

    width: 20px;
    height: 10px;
}

.bullet {
    position: absolute;
    background-color: blueviolet;
    width: 10px;
    height: 10px;
}

.mountain{
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    background-color: blue;
}

#top-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}

.shot-parameters {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.tank-name {
    margin: auto;
}
