body {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 100%;
    height: 800px;
}

#battlefield {
    width: 1000px;
    height: 500px;
    background-color: white;
    align-self: center;
    margin-top: 100px;
}

.tank {
    display: inline-block;
    background-color: black;
    width: 80px;
    height: 40px;
    position: relative;
}

.bullet {
    position: relative;
    background-color: blueviolet;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

#top-bar {
    display: flex;
    justify-content: center;
}

.shot-parameters {
    display: flex;
    justify-content: center;
}

.tank-name {
    margin: auto;
}
